<% var message = [ "憑證失效, 請重新登入!", "登入失敗" ] %>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login | DRS</title>
</head>
<body>
  <p><%= message[e] %></p>
  <form action="/api/v1/login" method="post">
    <input type="text" name="ACC" id="" value="dev">
    <input type="password" name="PWD" id="" value="password">
    <input type="submit">
  </form>
</body>
</html>