<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<% include ../template/style %>
<link rel="stylesheet" href="/home.css">
<script src="/src/js/dorm/home.js"></script>
<title>Home - Service</title>
</head>
<body>
  <main>
    <div class="container">
      <h1></h1>
    </div>
    <div class="row" style="padding:50px; background: rgb(240, 128, 128, 0.5); height: 100%;">
      <div class="col-lg">
        <div class="container row" style="height: auto;background: rgb(135, 206, 250, 0.5);">
          <h1 class="block-title">公告</h1>
          <div class="block-content">
            <ul>
              <li>Loading...</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-6" style="background: rgb(144, 238, 144, 0.5); height: 500px; ">
        <% if( access_id == 0 ){ %>
          <div class="row" style="margin:5px; padding: 10px 15px 10px 15px; background: rgba(62, 207, 123, 0.5);">
            <div class="col-lg-10">
              <span class="lead">
                <span class="col">目前時間為:</span> <span id="current-time" class="col clock"></span>
              </span>
            </div>
            <div class="col-lg-2">
              <form action="/api/v1/dorm/sheet" method="post" class="container form-inline">
                <input type="submit" value="新建報表" class="btn btn-success">
                <input type="hidden" name="token" value="<%= ssrf_token %>">
              </form>
            </div>
          </div>
        <% } %>
        <div id="sheet_table" class="container" style="background: rgb(144, 238, 144, 0.5); padding:20px">
          載入中...
        </div>
      </div>
      <div class="col-lg" style="width:100%;">
        <div class="container" style="background: rgb(147, 112, 216, 0.5); height: 100px;">
          Loading...
        </div>
      </div>
    </div>
  </main>
</body>
</html>