body{
  display:flex;
  padding-top: 50px;
  align-items: center;
}
.bx100h{
  height:100vh;
}
.bx100{
  height: 100px;
}
.b100x{
  width:100px;
  height: auto;
}
.tred{
  color:red;
}

.bred{
  background:red;
}

.bblue{
  background: blue;
}
.blblue{
  background: lightblue;
}
.blblue:nth-child(2n){
  opacity: 80%;
}

.pad10{
  padding:100px;
}

.tcenter{
  
  text-align: center;
}

.content{
  text-align: center;
  margin:auto;

}