<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="/">DRS<%= navtitle==""?(""):(" - "+navtitle) %></a>
  <div>
    <button class="btn btn-outline-danger my-2 my-sm-0" type="button" onclick="location.href='/api/v1/logout/<%= ssrf_token %>'">登出</button>
   </div>
</nav>